<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main content"},"layout":{"type":"constrained"},"anchor":"main-content"} -->
<main id="main-content" class="wp-block-group">
	<!-- wp:pattern {"slug":"bloglite/hero"} /-->
	<!-- wp:pattern {"slug":"bloglite/featured-post"} /-->
	<!-- wp:pattern {"slug":"bloglite/latest-posts"} /-->
	<!-- wp:pattern {"slug":"bloglite/categories"} /-->
	<!-- wp:pattern {"slug":"bloglite/newsletter"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
